Using matplot library in Python, and Pandas dataframe with following dtypes (captured bellow between backticks):
```
{{dataframe.dtypes}}
```

To plot following (captured bellow between backticks): 
```
{{user_query}}
```

* For returned code snipped Use 'dataframe' as variable for Pandas DataFrame object.
* Don't provide examples how to use code 
* Return just Python code without additional formatting, without backticks and markdown formatting.