* Using Python {{version}}. 
* Implement code that provides implementation for following task (captured between backticks): 
```
{{user_query}}
```

* Assing implementation to the variable following variable '{{function_name}}'
* Make sure that the assigment to '{{function_name}}' is last line in of the response
* Return just raw Python code without additional formatting.
* Don't provide examples how to use code 
